.todo-list {
  list-style: none;
  padding: 23px;
  border-bottom: 1px solid #fff;
  background-color: #5cbaa5;
  color: #fff;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}