<li class="todo-list" [ngClass]="{ editing: isEditing }">
  <div class="view">
    <input type="checkbox" class="toggle" [checked]="todo.isCompleted"
    (change)="toggleTodo()">
    <label (dblclick)="setTodoInEditMode()">{{ todo.text }}</label>
    <button class="destroy" (click)="removeTodo()">X</button>
  </div>
</li>
<ng-container *ngIf="isEditing">
  <input 
    class="edit form-control" 
    [value]="editingText" 
    (keyup)="changeText($event)"
    (keyup.enter)="changeTodo()"
    placeholder="Edit task"
  />
</ng-container>
